@if (Model != null)
{

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-product">
                    <div class="product-images">
                        <div class="main-image images">
                            <img alt="@Model.BookName" src="https://picsum.photos/id/1025/320/400">
                        </div>
                    </div>
                    <div class="product-info">
                        <h1>@Model.BookName</h1>
                        <div class="price-box">
                            <p class="s-price"><span class="special-price"><span class="amount">&#8378;@Model.Price</span></span></p>
                        </div>
                        <a href="product-details.html" class="see-all">See all features</a>
                        <div class="quick-add-to-cart">
                            <form method="post" class="cart">
                                <div class="numbers-row">
                                    <input type="number" id="french-hens" value="3">
                                </div>
                                <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                            </form>
                        </div>
                        <div class="quick-desc">
                            @Model.Description
                        </div>
                        <div class="social-sharing">
                            <div class="widget widget_socialsharing_widget">
                                <h3 class="widget-title-modal">Share this product</h3>
                                <ul class="social-icons">
                                    <li><a target="_blank" title="Facebook" href="#" class="facebook social-icon"><i class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank" title="Twitter" href="#" class="twitter social-icon"><i class="fa fa-twitter"></i></a></li>
                                    <li><a target="_blank" title="Pinterest" href="#" class="pinterest social-icon"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a target="_blank" title="Google +" href="#" class="gplus social-icon"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a target="_blank" title="LinkedIn" href="#" class="linkedin social-icon"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .product-info -->
                </div>
            </div>
        </div>
    </div>

}

