@{
    Layout = "~/Views/Home/_AnasayfaLayout.cshtml";
}
@{
    ViewBag.Title = "Anasayfa";
}

<div class="featured-product-area main-section-padding">
    <!-- <div class="featured-product-area section-padding"> -->
    <h2 class="section-title">FEATURED PRODUCTS</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-menu">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="first-item active">
                            <a href="#arrival" aria-controls="arrival" role="tab" data-toggle="tab">New Arrival</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product-list tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="arrival">
                    <div class="featured-product-list indicator-style">
                        @Html.Action("_GetAdverts", "Home")
                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
        function GetAdvertByID(id) {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("_GetAdvertForModal","Home")',
                    data: { id: id },
                    success: function (data) {
                        $("#productModal").html(data);
                    }
                })
        }

        function AddToMyCart(aid) {
            $.ajax({
                type: "Get",
                url: '@Url.Action("AddToCart","Cart")',
                data: { id: aid },
                success: function (data) {
                    $("#shopping_cart li:nth-child(2)").html(data);
                }

            })
        }

    </script>


}
