
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="Ad *">
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="Soyad *">
            </p>
        </div>
        <div class="col-md-12">
            <p class="form-row">
                <input type="text" placeholder="E-Posta *">
            </p>
        </div>
        <div class="col-md-12">
            <p class="form-row">
                <input type="text" placeholder="Telefon No">
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="Ülke">
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="Şehir">
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="İlçe">
            </p>
        </div>
        <div class="col-md-6">
            <p class="form-row">
                <input type="text" placeholder="Posta Kodu">
            </p>
        </div>
        <div class="col-md-12">
            <p class="form-row">
                <input type="text" placeholder="Adres">
            </p>
        </div>
        <div class="country-select shop-select col-md-12">
            <label>Dogum Tarihi</label>
            <div class="row">
                <div class="col-xs-4">
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select>
                        <option>January</option>
                        <option>February </option>
                        <option>March </option>
                        <option>April </option>
                        <option>May </option>
                        <option>June </option>
                        <option>July </option>
                        <option>August </option>
                        <option>September </option>
                        <option>October </option>
                        <option>November </option>
                        <option>December </option>
                    </select>
                </div>
                <div class="col-xs-4">
                    <select>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                        <option>2006</option>
                        <option>2007</option>
                        <option>2008</option>
                        <option>2009</option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2016</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="form-row">
                <input type="text" placeholder="Şifre *">
            </p>
        </div>
        <div class="col-md-12">
            <p class="form-row">
                <input type="text" placeholder="Şifre Tekrar *">
            </p>
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-default" value="Güncelle">
        </div>
    </div>
    <div class="col-md-4">
        <img src="http://placehold.jp/292x300.png" alt="sa">
        Select a file: <input type="file" name="myFile">
    </div>
</div>

