
@{
    ViewBag.Title = "Favorilerim";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">İlan No / Resim</th>
                <th scope="col">Kitap Adı</th>
                <th scope="col">Satıcı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="">1</a></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>MNG111</td>
                <td><input type="button" value="Sil" class="btn btn-default"></td>
            </tr>
            <tr>
                <th scope="row"><a href="">2</a></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>MNG222</td>
                <td><input type="button" value="Sil" class="btn btn-default"></td>
            </tr>
            <tr>
                <th scope="row"><a href="">3</a></th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>MNG333</td>
                <td><input type="button" value="Sil" class="btn btn-default"></td>
            </tr>
        </tbody>
    </table>

