
@{
    ViewBag.Title = "Siparişlerim";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Siparis No</th>
            <th scope="col">Tarih</th>
            <th scope="col">Ödeme Şekli</th>
            <th scope="col">Kargo Takip No</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>MNG111</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>MNG222</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>MNG333</td>
        </tr>
    </tbody>
</table>

