
@{
    ViewBag.Title = "Sahaf";
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
}

<div class="col-md-12">
    <p class="form-row">
        Select a file: <input type="file" name="myFile">
    </p>
</div>

