



@foreach (Advert item in Model)
{
    <div class="col-md-4 col-sm-6">
        <div class="single-banner">
            <div class="product-wrapper">
                <a href="#" class="single-banner-image-wrapper">
                    <img alt="" src="~/Content/home-img/featured/1.jpg">
                    <div class="price"><span>&#8378;</span>@item.Price</div>
                </a>
                <div class="product-description">
                    <div class="functional-buttons">
                        <a href="#" title="Add to Cart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a href="#" title="Add to Wishlist">
                            <i class="fa fa-heart-o"></i>
                        </a>
                        <a href="#" title="@item.BookName" data-toggle="modal" data-target="#productModal" onclick="GetAdvertByID(@item.ID)">
                            <i class="fa fa-compress"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="banner-bottom text-center">
                <div class="banner-bottom-title">
                    <a href="#">
                        @(item.BookName.Length>=24 ? item.BookName.Substring(0, 24)+"..." : item.BookName)
                    </a>
                </div>
                <div class="rating-icon">
                    @for (int i = 0; i < (int)item.Condition; i++)
                    {
                        <i class="fa fa-star icolor"></i>
                    }
                    @if ((int)item.Condition != 5)
                    {
                        for (int i = 0; i < 5 - (int)item.Condition; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}
